<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1021557582992-f3e1d99m651spf1jhgkt83m1uj919cfm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1021557582992-f3e1d99m651spf1jhgkt83m1uj919cfm</string>
	<key>API_KEY</key>
	<string>AIzaSyBhhG1NnT_tbuHm5Lx2ircmKVVPgqE_kwI</string>
	<key>GCM_SENDER_ID</key>
	<string>1021557582992</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.rhuarhri.carbonCleanUp</string>
	<key>PROJECT_ID</key>
	<string>carbonoffsetapp</string>
	<key>STORAGE_BUCKET</key>
	<string>carbonoffsetapp.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1021557582992:ios:613469f0780df4dc087c15</string>
	<key>DATABASE_URL</key>
	<string>https://carbonoffsetapp.firebaseio.com</string>
</dict>
</plist>